<ul class="list">
    @foreach (var user in Model)
    {
        
            <li class="clearfix" id="chat_user_@user">
                <img src="@Url.Content("~/Content/Pictures/Placeholder.png")", class="round-image-40">
                <div class="about">
                    <div class="name">@user</div>
                    <div class="status">
                        <span id="status-icon-@user" class="p-1 fa fa-circle  offline"></span><span id="status-user-@user">offline</span>
                    </div>
                </div>
                <div id="battle-btn-@user" data-toggle="modal" data-target="#waitModal" onclick="challengeToFight('@user')" class="btn btn-success btn-xs start-battle" style="display: none">Battle</div>
            </li>
    }
</ul>
