
@{
    ViewBag.Title = "Game menu";
}

<h1 class="col-md-12 text-capitalize text-center">Welcome to the game</h1>
<div class="row">
    <div class="col-md-8 mx-auto">
        @Html.ActionLink("Play vs Bot", "GameVsBot", "Game", new { }, new { @class = "btn btn-success btn-block" })
        @Html.ActionLink("Play vs another player", "GamevsPlayerLogIn", "Game", new { }, new { @class = "btn btn-success btn-block" })
    </div>
    
</div>

    


