body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.board {
    margin: 10px auto;
    background-color: cornflowerblue;
}



.tile {
    width: 29px;
    height: 29px;
    border: 1px solid #8DEEEE;
    text-align:center
}

.choose-tile {
    width: 29px;
    height: 29px;
    border: 1px solid #8DEEEE;
    background-color: forestgreen;
    text-align: center
}

.choosen-tile {
    width: 29px;
    height: 29px;
    border: 1px solid red;
    background-color: lawngreen;
    text-align: center
}

.disabled-choose-tile {
    width: 29px;
    height: 29px;
    border: 1px solid black;
    background-color: dimgrey;
    text-align: center
}


.tilerow {
}

.BoardsContainter{
    margin-top:30px;
    background-color:aliceblue;
    border: 1px solid cornflowerblue;
}

.ship-placing {
    display:inline;
    height:30px;
    margin: 5px;
}
.square{
    height:29px;
    width:29px;
    border: 1px solid black;
    background-color:forestgreen;
}

.ship-placing-container{
    margin-bottom:5px;
    border: 1px solid black;
    padding:1%;
}

.UIContainer{
    border: 1px solid black;
    padding: 2%;
}

.ship-placed{
    background-color:red;
}

