@model Battleships.Core.ViewModels.UserPanelIndexModel

@{
    ViewBag.Title = "User Panel";
}

<div class="row">
    @Html.Partial("UserPanelNavbarPartial")
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Welcome @User.Identity.Name!</h1>
        </div>
    </main>
</div>