<nav class="navbar col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="navbar-nav flex-column text-center">
            <li class="nav-item">
                @Html.ActionLink("Main Panel", "Index", "UserPanel", routeValues: null, htmlAttributes: new { @class = ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active nav-link" : "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Leaderboard", "Leaderboard", "UserPanel", routeValues: null, htmlAttributes: new { @class = ViewContext.RouteData.Values["action"].ToString() == "Leaderboard" ? "active nav-link" : "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Game history", "#", "UserPanel", routeValues: null, htmlAttributes: new { @class = ViewContext.RouteData.Values["action"].ToString() == "s" ? "active nav-link" : "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Find player", "#", "UserPanel", routeValues: null, htmlAttributes: new { @class = ViewContext.RouteData.Values["action"].ToString() == "s" ? "active nav-link" : "nav-link" })
            </li>
        </ul>
    </div>
</nav>
